.centerBlock {
  display: table;
  margin: auto;
}
.tile {
    border-style: inset;
}
.tile.tileFound {
    background-color: forestgreen;
} 
.tile.tileNotFound {
    background-color: gray;
}
img {
    width:100%;
}
.column {
}